  
 <% include layout-head %>

  <!-- Page Content -->
<div class="container">
    <div class="row">
      <div class="card">
        <!--<img data-src="holder.js/100px280/thumb" alt="Card image cap">-->
        <div class="container">
          <h2>NGinx Configurations</h2>
                  <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Cache</a></li>
                    <li><a data-toggle="tab" href="#menu1">Load Balancing</a></li>
                    <li><a data-toggle="tab" href="#menu2">Redirect</a></li>
                    <li><a data-toggle="tab" href="#menu3">VHost</a></li>
                  </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <h3>Configure Cache</h3>
              <!--<p>Site 1</p>-->
              <form>
                <div class="form-group">
                  <label for="host">Host:</label>
                  <input type="text" class="form-control" id="host" value="xpto.pt">
                </div>
                <div class="form-group">
                  <label for="port">Port:</label>
                  <input type="text" class="form-control" id="port" value="80">
                </div>
                <div class="form-group">
                  <label for="destination">Destination:</label>
                  <input type="text" class="form-control" id="destination" value="http://127.0.0.1:3001">
                </div>
                <div class="checkbox">
                  <label>
                          <input type="checkbox" id="cache"> Static assets cache
                        </label>
                </div>

                <button id="createHost" type="button" class="btn btn-info">Create Host</button>
                <button id="testNginx" type="button" class="btn btn-info">Test nginx</button>
                <button id="reloadNginx" type="button" class="btn btn-info">Reload nginx</button>
              </form>

              <p class="card-text">Este separador permite criar configurações de servidores com ou sem cache.</p>
            </div>
            <div id="menu1" class="tab-pane fade">
              <h3>Configure Load Balancing</h3>
              <!--<p>Site 1</p>-->
              <div class="container">
                <div class="row">
                      <div class="control-group" id="fields">
                          <label class="control-label" for="field1">Creat Multiple Servers</label>
                          <div class="controls">
                              <form role="form" autocomplete="off">
                                  <div class="entry input-group col-xs-3">
                                      <input class="form-control" name="fields[]" type="text" placeholder="Server IP" />
                                    <span class="input-group-btn">
                                          <button class="btn btn-success btn-add" type="button">
                                              <span class="glyphicon glyphicon-plus"></span>
                                          </button>
                                      </span>
                                  </div>
                              </form>
                          <br>
                          <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another form field :)</small>
                          </div>
                      </div>
                </div>
              </div>
              <script>
              $(function()
              {
                  $(document).on('click', '.btn-add', function(e)
                  {
                      e.preventDefault();

                      var controlForm = $('.controls form:first'),
                          currentEntry = $(this).parents('.entry:first'),
                          newEntry = $(currentEntry.clone()).appendTo(controlForm);

                      newEntry.find('input').val('');
                      controlForm.find('.entry:not(:last) .btn-add')
                          .removeClass('btn-add').addClass('btn-remove')
                          .removeClass('btn-success').addClass('btn-danger')
                          .html('<span class="glyphicon glyphicon-minus"></span>');
                  }).on('click', '.btn-remove', function(e)
                  {
                  $(this).parents('.entry:first').remove();

                  e.preventDefault();
                  return false;
                });
              });

              </script>
              <p></p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
              <h3>Configure Redirect</h3>
              <!--<p>Site 1</p>-->
              <p></p>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>

            <!-- a -->
            <div id="menu3" class="tab-pane fade">
              <h3>Configure de Múltiplos VHost's</h3>
              <!--<p>Site 1</p>-->
              <p></p>

              <!-- d -->
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <button id="btn-add-tab" type="button" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i></button>


                    <!-- Nav tabs -->
                    <ul id="tab-list" class="nav nav-tabs" role="tablist">

                      <li class="active"><a href="#tab1" role="tab" data-toggle="tab">Configuração 1</a></li>
                    </ul>
                    <!-- Tab panes Configuração de Sites-->
                    <div id="tab-content" class="tab-content">
                      <div class="tab-pane fade in active" id="tab1">
                        <div id="home" class="tab-pane fade in active">
                          <h3>Configuração 1</h3>
                          <form>
                            <div class="form-group">
                              <label for="host">Host:</label>
                              <input type="text" class="form-control" id="hosts" value="xpto1.pt">
                            </div>
                            <div class="form-group">
                              <label for="port">Port:</label>
                              <input type="text" class="form-control" id="ports" value="80">
                            </div>
                            <div class="form-group">
                              <label for="destination">Destination:</label>
                              <input type="text" class="form-control" id="destinations" value="http://127.0.0.1:3001">
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" id="caches"> Static assets cache
                              </label>
                            </div>
                        </div>
                        </form>
                      </div>
                    </div>
                    <button id="createHosts" type="button" class="btn btn-success">Create Host</button>
                    <button id="testNginx" type="button" class="btn btn-info">Test nginx</button>
                    <button id="reloadNginx" type="button" class="btn btn-info">Reload nginx</button>

                  </div>
                </div>
              </div>
              <!-- Tab panes Configuração de Sites-->
            </div> <!-- d -->
          </div>   <!-- a -->
        </div>
      </div>
    </div>



    <!-- /.container -->


    <% include layout-foot.ejs %>