 <% include layout-head %>

 <div class="container" style="margin-top: 50px;">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4" align="center">
        <img src="imgs/pedro.png" alt="Pedro" class="img-circle" class="img-responsive center-block" height="100px" width="100px">
          <h2>Pedro Matos</h2>
          <p><address><a href="mailto:pedromatos@outlook.pt">Email: pedromatos@outlook.pt </a></address></p>
          
        </div>
        <div class="col-md-4" align="center">
         <img src="imgs/paulo.jpg" alt="Pedro" class="img-circle" class="img-responsive center-block" height="100px" width="100px">
          <h2>Paulo caria</h2>
           <p><address><a href="mailto:paulo.caria@gmail.com">Email: paulo.caria@gmail.com </a></address></p>
          
       </div>
        <div class="col-md-4" align="center">
         <img src="imgs/vasco.jpg" alt="Pedro" class="img-circle" class="img-responsive center-block" height="100px" width="100px">
          <h2>Vasco Marques</h2>
              <p><address><a href="mailto:vasco_marques_ei@hotmail.com">Email: vasco_marques_ei@hotmail.com </a></address></p>
         
        </div>
      </div>
      <hr>
<div style="text-align: justify; margin-left: 50px; margin-right: 10pc; font-family: cursive;">
<P>
Este trabalho foi desenvolvido no Mestrado de Engenharia Informatia - internet das coisas, na disciplina de Computação na Nuven e Virtualização.</P>
<p>Professor Responsavel: Pedro Dias </p>
<p>email: pedrodias@ipt.pt</p>

</div>

      <footer>
        <p>© MEI-IoT 2017</p>
      </footer>
    </div>

 <% include layout-foot.ejs %>