<!-- /.container -->

<div class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left"><strong>NGinx Portal</strong> &copy; Bootstrap Responsive
    </p>

    <p class="navbar-text pull-right">
      <strong>Work Made By:</strong> Paulo Rodrigues, Pedro Matos e Vasco Marques.
    </p>
  </div>
</div>
</body>

</html>
