
 <!-- /.container -->
    <footer class="text-muted" style="margin-top: 200px;">
      <div class="container">
        
        <p>NGinx Portal &copy; Bootstrap responsive ---> PC and Mobile</p>
        <p>Work made by: Paulo Rodrigues | Pedro Matos | Vasco Marques | 2017</p>
      </div>
    </footer>
</body>

</html>