<!-- /.container -->
<footer class="text-muted" style="margin-top: 200px;">
  <div class="container">

    <p></p>
    <p><b></p>
      </div>
    </footer>

    <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left"><b>NGinx Portal</b> &copy; Bootstrap Responsive - PC and Mobile 2017
    </p>

    <p class="navbar-text pull-right">
      <b>Work made by:</b> Paulo Rodrigues | Pedro Matos | Vasco Marques </a>
    </p>
  </div>
  </body>

  </html>
