<% include layout-head %>

  <link href="../vendors/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../vendors/css/album.css">
  <link rel="stylesheet" href="../vendors/css/morris.css">

  <script src="../vendors/js/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="../js/holder.js"></script>
  <script src="../vendors/js/bootstrap.js"></script>
  <!-- jQuery Knob Chart -->
  <script src="../vendors/js/jquery.knob.js"></script>
  <script src="../vendors/js/chart.js"></script>
  <script src="../vendors/js/morris.js"></script>
  <script src="./js/main.js"></script>

  <script>
    $(function() {
      $('#knobconections').knob();
    });
    $(function() {
      $('#memtotal').knob();
    });
    $(function() {
      $('#memfree').knob();
    });
    $(function() {
      $('#memavail').knob();
    });
  </script>
  <!-- Page Content -->

  <div class="container" style="margin-top: 100px;">
    <div class="col-sm-3">
      <center>
        <p class="card-text"><b>Ligações ao Servidor</b></p>
        <input id="knobconections" class="knob" value="0" data-fgcolor="#B6FF00" data-height="150" data-readonly="true" data-width="150" data-angleOffset="-90" data-angleArc="180" data-max="300" data-offsetwidth="150">
      </center>
    </div>
    <div class="col-sm-3">
      <center>
        <p class="card-text"><b>Memória Total do Servidor (KB)</b></p>
        <input id="memtotal" class="knob" value="0" data-fgcolor="#0094FF" data-height="150" data-readonly="true" data-width="150" data-angleOffset="-90" data-angleArc="180" data-max="2000000" data-offsetwidth="150">
      </center>
    </div>
    <div class="col-sm-3">
      <center>
        <p class="card-text"><b>Memória Livre do Servidor (KB)</b></p>
        <input id="memfree" class="knob" value="0" data-fgcolor="#009933" data-height="150" data-readonly="true" data-width="150" data-angleOffset="-90" data-angleArc="180" data-max="2000000" data-offsetwidth="150">
      </center>
    </div>
    <div class="col-sm-3">
      <center>
        <p class="card-text"><b>Memória Ocupada do Servidor (KB)</b></p>
        <input id="memavail" class="knob" value="0" data-fgcolor="#FF0000" data-height="150" data-readonly="true" data-width="150" data-angleOffset="-90" data-angleArc="180" data-max="2000000" data-offsetwidth="150">
      </center>
    </div>
  </div>

  <!-- /.container -->
  <div class="container">
    <hr />
    <div class="bs-callout bs-callout-danger">
      <div class="alert alert-info" role="alert">
  <a href="#" class="alert-link">Informação:</a>
</div>

    <p>Controle do servidor <code>:Nginx</code>, onde demostra a fluxo de informação a correr no servidor e as suas subcargas.</p>
    <p>Esta gestão é importante para os processos que estão a decorrer, podendo aliviar ou gerir as cargas efectuadas no servidor.</p>
  </div>
    <!--<h4><b>Informação:</b></h4>
    <span>- Controle do servidor <strong style="font-size: 20px;">NGnix</strong>, onde demostra a fluxo de informação a correr no servidor e as suas subcargas.</span>
    <p><span>- Esta <strong style="font-size: 20px;">gestão</strong> é importante para os processos que estão a decorrer, podendo aliviar ou gerir as cargas efetuadas no servidor.</span></p>-->
  </div>

  <% include layout-foot.ejs %>
