<% include layout-head %>

  <link href="../vendors/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="../vendors/css/album.css">
  <link rel="stylesheet" href="../vendors/css/morris.css">

  <script src="../vendors/js/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="../js/holder.js"></script>
  <script src="../vendors/js/bootstrap.js"></script>
  <!-- jQuery Knob Chart -->
  <script src="../vendors/js/jquery.knob.js"></script>
  <script src="../vendors/js/chart.js"></script>
  <script src="../vendors/js/morris.js"></script>
  <script src="./js/main.js"></script>

  <script>
    $(function() {
      $('#knobconections').knob();
    });
    $(function() {
      $('#memtotal').knob();
    });
    $(function() {
      $('#memfree').knob();
    });
    $(function() {
      $('#memavail').knob();
    });
  </script>
  <!-- Page Content -->

  <div class="container">
    <h1 class="jumbotron-heading">NGinx Dashboard</h1>
    <p class="lead text-muted">Paulo Rodrigues | Pedro Matos | Vasco Marques | 2017</p>
    <div class="row">
      <br />
      <br />
      <br />
      <div class="col-sm-3">
        <center>
          <p class="card-text"><b>Ligações ao Servidor</b></p>
          <input id="knobconections" class="knob" value="0" data-fgcolor="#B6FF00" data-height="150" data-readonly="true" data-width="150" data-angleOffset="-90" data-angleArc="180" data-max="300" data-offsetwidth="150">
        </center>
      </div>
      <div class="col-sm-3">
        <center>
          <p class="card-text"><b>Memória Total do Servidor (KB)</b></p>
          <input id="memtotal" class="knob" value="0" data-fgcolor="#0094FF" data-height="150" data-readonly="true" data-width="150" data-angleOffset="-90" data-angleArc="180" data-max="2000000" data-offsetwidth="150">
        </center>
      </div>
      <div class="col-sm-3">
        <center>
          <p class="card-text"><b>Memória Livre do Servidor (KB)</b></p>
          <input id="memfree" class="knob" value="0" data-fgcolor="#009933" data-height="150" data-readonly="true" data-width="150" data-angleOffset="-90" data-angleArc="180" data-max="2000000" data-offsetwidth="150">
        </center>
      </div>
      <div class="col-sm-3">
        <center>
          <p class="card-text"><b>Memória Ocupada do Servidor (KB)</b></p>
          <input id="memavail" class="knob" value="0" data-fgcolor="#FF0000" data-height="150" data-readonly="true" data-width="150" data-angleOffset="-90" data-angleArc="180" data-max="2000000" data-offsetwidth="150">
        </center>
      </div>
    </div>
  </div>
  <br />

  <!-- /.container -->
  <div class="container">
    <hr />
    <div class="alert alert-info" role="alert">
      <a href="#" class="alert-link"><b>Informação:</b></a>
    </div>
    <ul>
      <li>Controlo do servidor <a href="https://www.nginx.com/" target="_blank">Nginx</a>, onde demonstra o fluxo de informação a correr no servidor e as suas subcargas.</li>
    </ul>
    <ul>
      <li>Esta gestão é importante para os processos que estão a decorrer, podendo aliviar ou gerir as cargas efectuadas no servidor.</li>
    </ul>
    <!--<h4><b>Informação:</b></h4>
    <span>- Controle do servidor <strong style="font-size: 20px;">NGnix</strong>, onde demostra a fluxo de informação a correr no servidor e as suas subcargas.</span>
    <p><span>- Esta <strong style="font-size: 20px;">gestão</strong> é importante para os processos que estão a decorrer, podendo aliviar ou gerir as cargas efetuadas no servidor.</span></p>-->
  </div>

  <% include layout-foot.ejs %>
