<% include layout-head %>
  <link href="../vendors/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <script src="../vendors/js/jquery-2.2.3.min.js"></script>
  <script src="../vendors/js/bootstrap.js"></script>

  <script src="./js/main.js"></script>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <section class="jumbotron text-left" style="background-color: #028634; background-image: url(../imgs/bg_server.png);">
          <div class="container">
            <h1 class="jumbotron-heading" style="color:white;">NGinx Dashboard</h1>
            <p class="lead text-muted">
              <h3 style="color:white;">Portal de Gestão e Monitorização de configurações</h3></p>
            <h5 style="color:white;"> IPT.PT - MEI_IoT - Computação em Nuvem e Virtualização </h5>
            <p>
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- container "Cache Configuration; Load Balancing; Redirect; Multiple VHosts;"-->
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <center>
          <h4><b>Cache Configuration</b></h4>
          <img class="img-responsive" style="width:120px; height:120px;" src="../imgs/cache-config-icon.png" alt="Cache Configuration">
        </center>
      </div>
      <div class="col-sm-3">
        <center>
          <h4><b>Load Balancing</b></h4>
          <img class="img-responsive" style="width:120px; height:120px;" src="../imgs/LoadBalancer_icon.png" alt="Load Balancing">
        </center>
      </div>
      <div class="col-sm-3">
        <center>
          <h4><b>Redirect</b></h4>
          <img class="img-responsive" style="width:120px; height:120px;" src="../imgs/redirect-www-icon.png" alt="Redirect">
        </center>
      </div>
      <div class="col-sm-3">
        <center>
          <h4><b>Multiple VHosts</b></h4>
          <img class="img-responsive" style="width:120px; height:120px;" src="../imgs/vhosts-icon.png" alt="Multiple VHosts">
        </center>
      </div>
    </div>
  </div>
  <br />
  <!-- /.container -->

  <!-- container "Information" -->
  <div class="container">
    <hr />
    <div class="alert alert-info" role="alert">
      <a href="#" class="alert-link"><b>Informação:</b></a>
    </div>
    <ul>
      <li>Controlo do servidor <a href="https://www.nginx.com/" target="_blank">Nginx</a>, onde demonstra o fluxo de informação a correr no servidor e as suas subcargas.</li>
    </ul>
    <ul>
      <li>Esta gestão é importante para os processos que estão a decorrer, podendo aliviar ou gerir as cargas efectuadas no servidor.</li>
    </ul>
  </div>
  <!-- /.container "Information"-->

  <div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>


  <% include layout-foot.ejs %>
