<% include layout-head %>

  <!-- Page Content -->
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <section class="jumbotron text-left" style="background-color: #028634; background-image: url(../imgs/bg_server.png);">
          <div class="container">
            <h1 class="jumbotron-heading" style="color:white;">NGinx Dashboard</h1>
            <p class="lead text-muted">
              <h3 style="color:white;">Portal de Gestão e Monitorização de configurações</h3></p>
            <h5 style="color:white;"> IPT.PT - MEI_IoT - Computação em Nuvem e Virtualização </h5>
            <p>
              <!--<a href="#" class="btn btn-primary">Main call to action</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>-->
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- /.container -->

  <!-- container -->
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <center>
          <h4><b>Cache Configuration</b></h4>
          <img class="img-responsive" style="width:120px; height:120px;" src="../imgs/cache-config-icon.png" alt="Cache Configuration">
        </center>
      </div>
      <div class="col-sm-3">
        <center>
          <h4><b>Load Balancing</b></h4>
          <img class="img-responsive" style="width:120px; height:120px;" src="../imgs/LoadBalancer_icon.png" alt="Load Balancing">
        </center>
      </div>
      <div class="col-sm-3"><img class="img-responsive" style="width:120px; height:120px;" src="#" alt="..."></div>
      <div class="col-sm-3">
        <center>
          <h4><b>Load Balancing</b></h4>
          <img class="img-responsive" style="width:120px; height:120px;" src="../imgs/vhosts-icon.png" alt="Multiple Hosts">
        </center>
      </div>
    </div>
  </div>
  <!-- /.container -->


  <% include layout-foot.ejs %>
