    
 <% include layout-head %>

    <!-- Page Content -->
    <div class="container" >
        <div class="row">
            <div class="col-lg-12">
                <section class="jumbotron text-left" >
     
        <h1 class="jumbotron-heading">NGinx Dashboard</h1>
        <p class="lead text-muted">Portal de Gestão e Monitorização de configurações</p>
        <h5> IPT.PT - MEI_IoT - Computação em Nuvem e Virtualização </h5>
        <p>
          <!--<a href="#" class="btn btn-primary">Main call to action</a>
          <a href="#" class="btn btn-secondary">Secondary action</a>-->
        </p>

            </section>
            </div>
        </div>
    </div>
    <!-- /.container -->

    <% include layout-foot.ejs %>